@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: 'Akira';
    src: url('/fonts/Akira\ Expanded\ Demo.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Quicksand';
}

body {
    padding: 10%;
    background-color: #0d1117;
}

.titulo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        'a1'
        'a2'
        'a2'
        'a3';
    width: 100%;
    height: 100px;
    color: #fff;
}

.titulo .div1 {
    display: flex;
    align-items: center;
    grid-area: 'a1';
    border: solid 2px #3d444d;
    padding: 1%;
}


.div1 i{
    margin-right: .3%;
}

.titulo .div2 {
    grid-area: 'a2';
    border: solid 2px #3d444d;
    border-top: transparent;
    border-bottom: transparent;
    padding: 4% 1%;
}

.div2 p {
    font-family: 'Akira';
    font-size: 40px;
}

.titulo .div3 {
    grid-area: 'a3';
    border: solid 2px #3d444d;
    padding: 1%;
}