@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: 'Akira';
    src: url('/fonts/Akira\ Expanded\ Demo.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Quicksand';
}

.body {
    padding: 10%;
    background-color: #000000;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    z-index: 0;
}

.body::before,
.body::after {
    content: "";
    position: absolute;
    filter: blur(100px);
    z-index: -1;
    animation: float 10s ease-in-out infinite alternate;
}

.body::before {
    width: 60vw;
    height: 60vw;
    background: radial-gradient(circle, #ff6a1a 0%, rgba(255, 106, 26, 0) 70%);
    top: -10%;
    left: -10%;
    animation-duration: 15s;
}

.body::after {
    width: 70vw;
    height: 70vw;
    background: radial-gradient(circle, #c73c00 0%, rgba(199, 60, 0, 0) 70%);
    bottom: -10%;
    right: -10%;
    animation-duration: 12s;
    animation-delay: -5s;
}

.titulo::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vw;
    background: radial-gradient(circle, #FD4912 0%, rgba(253, 73, 18, 0) 70%);
    filter: blur(120px);
    z-index: -2;
    animation: float 18s ease-in-out infinite alternate-reverse;
    pointer-events: none;
}

@keyframes float {
    0% {
        transform: translate(0, 0) rotate(0deg) scale(1);
    }

    50% {
        transform: translate(10%, 10%) rotate(10deg) scale(1.1);
    }

    100% {
        transform: translate(-10%, 5%) rotate(-5deg) scale(0.9);
    }
}

.titulo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        'a1'
        'a2'
        'a2'
        'a3';
    width: 100%;
    height: 100px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.titulo .div1 {
    display: flex;
    align-items: center;
    grid-area: 'a1';
    border: solid 2px #3d444d;
    padding: 1%;
}


.div1 i {
    margin-right: .3%;
}

.titulo .div2 {
    grid-area: 'a2';
    border: solid 2px #3d444d;
    border-top: transparent;
    border-bottom: transparent;
    padding: 4% 1%;
}

.div2 p {
    font-family: 'Akira';
    font-size: 40px;
}

.titulo .div3 {
    display: grid;
    height: auto;
    grid-area: 'a3';
    grid-template-columns: repeat(4, 1fr);
    border: solid 2px #3d444d;
    padding: 2% 1%;
    gap: 1%;
}

.div3 .a1 {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 4% 3%;
    border: solid 2px #3d444d;
    border-radius: 8px;
    transition: 0.4s;
}

.a1 i {
    font-size: 25px;
    margin-right: 2%;
}

.div3 .a1:hover {
    color: #0d1117;
    background-color: #fff;
    border-color: #fff;
}

.div3 .a2 {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 4% 3%;
    border: solid 2px #3d444d;
    border-radius: 8px;
    transition: 0.4s;
}

.a2 i {
    font-size: 24px;
    margin-right: 2%;
}

.div3 .a2:hover {
    color: #0d1117;
    background-color: #fff;
    border-color: #fff;
}

.div3 .a3 {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 4% 3%;
    border: solid 2px #3d444d;
    border-radius: 8px;
    transition: 0.4s;
}

.a3 i {
    font-size: 24px;
    margin-right: 2%;
}

.div3 .a3:hover {
    color: #0d1117;
    background-color: #fff;
    border-color: #fff;
}

@media (max-width: 1024px) {
    .body {
        padding: 4%;
    }

    .titulo .div2 {
        padding: 10%;
    }

    .titulo .div2 p {
        font-size: 80px;
        text-align: center;
    }

    .titulo .div3 {
        padding: 3%;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .titulo .div3 .a1 {
        width: 100%;
        grid-area: 'b1';
        font-size: 35px;
    }

    .titulo .div3 .a1 i {
        font-size: 40px;
    }

    .titulo .div3 .a2 {
        width: 100%;
        grid-area: 'b1';
        font-size: 35px;
    }

    .titulo .div3 .a2 i {
        font-size: 40px;
    }

    .titulo .div3 .a3 {
        width: 100%;
        grid-area: 'b1';
        font-size: 35px;
    }

    .titulo .div3 .a3 i {
        font-size: 40px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 480px) {}