@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@font-face {
    font-family: 'Akira';
    src: url('/fonts/Akira\ Expanded\ Demo.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Quicksand';
}

.body {
    padding: 10%;
    background-color: #000000;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.body .video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
}

.titulo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        'a1'
        'a2'
        'a2'
        'a3';
    width: 100%;
    height: 100px;
    color: #fff;
    position: relative;
    z-index: 100;
}

.titulo .div1 {
    display: flex;
    align-items: center;
    grid-area: 'a1';
    border: solid 2px #3d444d;
    padding: 1%;
}

.div1 i {
    margin-right: .3%;
}

.titulo .div2 {
    grid-area: 'a2';
    border: solid 2px #3d444d;
    border-top: transparent;
    border-bottom: transparent;
    padding: 4% 1%;
}

.div2 p {
    font-family: 'Akira';
    font-size: 70px;
}

.titulo .div3 {
    display: grid;
    height: auto;
    grid-area: 'a3';
    grid-template-columns: repeat(4, 1fr);
    border: solid 2px #3d444d;
    padding: 2% 1%;
    gap: 1%;
}

.div3 .a1 {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 4% 3%;
    border: solid 2px #3d444d;
    border-radius: 8px;
    transition: 0.4s;
}

.a1 i {
    font-size: 25px;
    margin-right: 2%;
}

.div3 .a1:hover {
    color: #0d1117;
    background-color: #fff;
    border-color: #fff;
}

.div3 .a2 {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 4% 3%;
    border: solid 2px #3d444d;
    border-radius: 8px;
    transition: 0.4s;
}

.a2 i {
    font-size: 24px;
    margin-right: 2%;
}

.div3 .a2:hover {
    color: #0d1117;
    background-color: #fff;
    border-color: #fff;
}

.div3 .a3 {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 4% 3%;
    border: solid 2px #3d444d;
    border-radius: 8px;
    transition: 0.4s;
}

.a3 i {
    font-size: 24px;
    margin-right: 2%;
}

.div3 .a3:hover {
    color: #0d1117;
    background-color: #fff;
    border-color: #fff;
}

@media (max-width: 1024px) {
    .body {
        padding: 5%;
    }

    .titulo {
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'a2'
            'a1'
            'a3';
    }

    .titulo .div2 {
        padding: 5% 2%;
        border-bottom: solid 2px #3d444d;
        border-top: solid 2px #3d444d;
    }

    .titulo .div2 p {
        font-size: 60px;
        text-align: center;
    }

    .titulo .div3 {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 2%;
    }

    .titulo .div3 p{
        font-size: 30px;
    }

    .titulo .div3 i{
        font-size: 40px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 480px) {}