@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);

@font-face {
    font-family: 'Akira';
    src: url('/EjercicioPinturas/fonts/Akira\ Expanded\ Demo.otf');
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    outline: none;
    list-style: none;
    font-family: 'Quicksand';
    box-sizing: border-box;
}

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.inicio p {
    font-family: 'Akira';
    font-size: 100px;
}

.descripcion {
    width: 100%;
    height: auto;
    padding: 20px 50px;
}

.descripcion .descripcion-text {
    border: solid 2px #000;
    border-style: dotted;
    outline-style: double;
    padding: 50px 20px;
    text-align: justify;
    font-size: 18px;
}

.pinturas {
    width: 100%;
    height: auto;
    padding: 0 50px;
    margin-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.pinturas p{
    font-family: 'Akira';
    font-size: 30px;
}

.pinturas .content-pinturas {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.pinturas .content-pinturas img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.4s;
}

.pinturas .content-pinturas img:hover{
    transform: scale(1.3);
}